* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #E6F2F2; 
    overflow-x: hidden;
}

.container {
    margin-top: 30px;
    text-align: center;
    background-color: #F5F3FF; 
    border: 3px solid #A0C3C3; 
    border-radius: 15px;
    padding: 40px 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4a4a4a;
}

#display {
    height: 250px;
    width: 250px;
    margin: 50px auto;
    font-size: 60px;
    text-align: center;
    border: 2px solid #A0C3C3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FDFDFF;
    color: #333333;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.btns button,
#strt {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    background-color: #A39BD0;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btns button:hover,
#strt:hover {
    background-color: #8E84C6;
    transform: scale(1.05);
}

.lapbox {
    margin-top: 20px;
    padding: 10px;
    background-color: #EEF7F6; 
    border: 2px solid #A0C3C3;
    border-radius: 10px;
    width: 90%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    max-height: 70px;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.lapbox p{
    
    font-weight:bolder;
}

#laps {
    margin-top: 10px;
    list-style-type: none;
    padding-left: 7px;
}

#laps li {
    margin-bottom: 4px;
    font-size: 20px;
    border-left: 2px solid #B7A6DD; 
    color: #444;
}
