*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: antiquewhite;
}
.container{
    margin-top: 100px;
    text-align: center;
}
h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#display{
    height:300px;
    width:300px;
    margin-top: 100px;
    font-size: 70px;
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:50px auto;
}
.btns{
    display: flex;
    justify-content: center;
    gap:30px;
}
.btns button,
#strt {
    padding:10px 20px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    background-color: #717faa;   /* green button */
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btns button:hover,
#strt:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.btns {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* ensures it wraps on smaller screens */
}

#laps {
    margin-top: 10px;
    list-style-type: none;
    padding-left: 7px;
}

#laps li {
    margin-bottom: 4px;
    font-size: 20px;
}